* {
  font-family: "Montserrat", sans-serif;
}

.navimg {
  height: 2.7rem;
}

.collapse {
  background-color: #e8f1f2;
  margin: 0 !important;
}

.navbar-nav {
  display: flex;
  align-items: center !important;
}
