* {
  font-family: "Montserrat", sans-serif;
}
.navbar-collapse.collapsing,
.navbar-collapse.show {
  margin-left: 45%;
}
navbar-light .navbar-nav .nav-link img {
  height: 3rem;
}

.navimg {
  height: 2.7rem;
}
