/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* in about */
  .tagline {
    text-align: center;
    color: white;
    font-size: 2.5rem;
  }
  .bio {
    color: white;
    font-size: 1.5rem;
  }
  /* in projects */
  .project {
    border-radius: 0.2rem;
    height: 14rem;
    width: 20rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
  }

  .project:hover,
  .project:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }

  .projectsmall:hover,
  .projectsmall:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }
  .projdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5vw;
  }
  .projhead {
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    margin-bottom: 11vw;
    font-size: 7vw;
  }
  /* in skills */
  .skillmain {
    font-size: 3rem;
  }
  .skillhead {
    margin-top: 8vw;
    font-size: 1.5rem;
  }
  .skillbio {
    color: white;
    font-size: 1rem;
    margin-top: -1.5vw;
    margin-bottom: 3vw;
  }
  .skilltitle {
    color: white;
    font-size: 0.6rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* in about */
  .tagline {
    text-align: center;
    color: white;
    font-size: 2.5rem;
  }
  .bio {
    color: white;
    font-size: 1.5rem;
  }
  /* in projects */
  /* in project */
  .project {
    border-radius: 0.2rem;
    height: 14rem;
    width: 20rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
  }

  .project:hover,
  .project:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }

  .projectsmall:hover,
  .projectsmall:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }
  .projdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5vw;
  }
  .projhead {
    font-size: 7vw;
    margin-left: 10vw;
    margin-top: 10vw;
    margin-bottom: 11vw;
  }
  /* in skills */
  .skillmain {
    font-size: 3rem;
  }
  .skillhead {
    margin-top: 8vw;
    font-size: 1.5rem;
  }
  .skillbio {
    color: white;
    font-size: 1rem;
    margin-top: -1.5vw;
    margin-bottom: 3vw;
  }
  .skilltitle {
    color: white;
    font-size: 0.6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* in about */
  .tagline {
    text-align: center;
    color: white;
    font-size: 3rem;
  }
  .bio {
    color: white;
    font-size: 2rem;
  }
  /* in projects */
  .project {
    border-radius: 0.2rem;
    height: 16rem;
    width: 22rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
  }

  .project:hover,
  .project:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }

  .projectsmall:hover,
  .projectsmall:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }
  .projdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5vw;
  }
  .projhead {
    font-size: 6vw;
    margin-left: 10vw;
    margin-top: 10vw;
    margin-bottom: 11vw;
  }
  /* in skills */
  .skillmain {
    font-size: 4rem;
  }
  .skillhead {
    margin-top: 8vw;
    font-size: 2rem;
  }
  .skillbio {
    color: white;
    font-size: 1.5rem;
    margin-top: -1.5vw;
    margin-bottom: 3vw;
  }
  .skilltitle {
    color: white;
    font-size: 0.8rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* in about */
  .tagline {
    text-align: center;
    color: white;
    font-size: 3rem;
  }
  .bio {
    color: white;
    font-size: 2rem;
  }
  /* in projects */
  .project {
    border-radius: 0.2rem;
    height: 16rem;
    width: 22rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
  }

  .project:hover,
  .project:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }

  .projectsmall:hover,
  .projectsmall:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }
  .projdiv {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5vw;
  }
  .projhead {
    font-size: 6vw;
    margin-left: 10vw;
    margin-top: 10vw;
    margin-bottom: 11vw;
  }
  /* in skills */
  .skillmain {
    font-size: 5rem;
  }
  .skillhead {
    margin-top: 8vw;
    font-size: 3rem;
  }
  .skillbio {
    color: white;
    font-size: 2rem;
    margin-top: -1.5vw;
    margin-bottom: 3vw;
  }
  .skilltitle {
    color: white;
    font-size: 1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* in about */
  .tagline {
    text-align: center;
    color: white;
    font-size: 3.5rem;
  }
  .bio {
    color: white;
    font-size: 2.5rem;
  }
  /* in projects */
  .project {
    border-radius: 0.2rem;
    height: 20rem;
    width: 26rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
  }

  .project:hover,
  .project:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }

  .projectsmall:hover,
  .projectsmall:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }
  .projdiv {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5vw;
  }
  .projhead {
    font-size: 5vw;
    margin-left: 10vw;
    margin-top: 10vw;
    margin-bottom: 11vw;
  }
  /* in skills */
  .skillmain {
    font-size: 5rem;
  }
  .skillhead {
    margin-top: 8vw;
    font-size: 3rem;
  }
  .skillbio {
    color: white;
    font-size: 2rem;
    margin-top: -1.5vw;
    margin-bottom: 3vw;
  }
  .skilltitle {
    color: white;
    font-size: 1rem;
  }
}
