/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* in home */
  .homehead {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5vw;
    flex-direction: column;
  }
  .homefont {
    font-size: 10vw;
    margin: 9vw;
  }
  .hometag {
    font-size: 5vw;
    margin-left: 9vw;
    margin-bottom: 7vw;
    margin-top: -4vw;
  }
  /* in about */
  .tagline {
    text-align: center;
    color: white;
    font-size: 2.5rem;
  }
  .bio {
    color: white;
    font-size: 1.5rem;
  }
  .lightbutton {
    font-size: 0.8rem;
    font-weight: 900;
  }
  .profileimg {
    height: 18rem;
    width: 18rem;
    border-radius: 9rem;
  }
  /* in projects */
  .project {
    border-radius: 0.2rem;
    height: 14rem;
    width: 20rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
  }

  .project:hover,
  .project:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }

  .projectsmall:hover,
  .projectsmall:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }
  .projdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5vw;
  }
  .projhead {
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    margin-bottom: 11vw;
    font-size: 7vw;
  }
  /* in skills */
  .skillmain {
    font-size: 3rem;
  }
  .skillhead {
    margin-top: 8vw;
    font-size: 1.5rem;
  }
  .skillbio {
    color: white;
    font-size: 1rem;
    margin-top: -1.5vw;
    margin-bottom: 3vw;
  }
  .skilltitle {
    color: white;
    font-size: 0.6rem;
  }
  /* in contact */
  .contactcontainer {
    width: 73%;
    margin: 2rem;
    padding: 3rem;
    border-radius: 0.5rem;
  }
  .contactheader {
    margin: auto;
    margin-bottom: 1rem;
    font-size: 12vw;
    white-space: nowrap;
  }
  /* in footer */
  .footerfont {
    font-size: 0.8rem;
    margin-right: 4vw;
    font-weight: 900;
  }
  .footercopy {
    flex-grow: 1;
    font-size: 0.8rem;
    color: #343434;
    margin-left: 4vw;
    font-weight: 900;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* in home */
  .homehead {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5vw;
    flex-direction: column;
  }
  .homefont {
    font-size: 10vw;
    margin: 9vw;
  }
  .hometag {
    font-size: 5vw;
    margin-left: 9vw;
    margin-bottom: 7vw;
    margin-top: -4vw;
  }
  /* in about */
  .tagline {
    text-align: center;
    color: white;
    font-size: 2.5rem;
  }
  .bio {
    color: white;
    font-size: 1.5rem;
  }
  .lightbutton {
    font-size: 0.9rem;
    font-weight: 900;
  }
  .profileimg {
    height: 25rem;
    width: 25rem;
    border-radius: 12.5rem;
  }
  /* in projects */
  .project {
    border-radius: 0.2rem;
    height: 14rem;
    width: 20rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
  }

  .project:hover,
  .project:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }

  .projectsmall:hover,
  .projectsmall:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }
  .projdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5vw;
  }
  .projhead {
    margin-left: 10vw;
    font-size: 7vw;
    margin-top: 10vw;
    margin-bottom: 11vw;
  }
  /* in skills */
  .skillmain {
    font-size: 3rem;
  }
  .skillhead {
    margin-top: 8vw;
    font-size: 1.5rem;
  }
  .skillbio {
    color: white;
    font-size: 1rem;
    margin-top: -1.5vw;
    margin-bottom: 3vw;
  }
  .skilltitle {
    color: white;
    font-size: 0.6rem;
  }
  /* in contact */
  .contactcontainer {
    width: 65%;
    padding: 3rem;
    margin: 2rem;
    border-radius: 0.5rem;
  }
  .contactheader {
    margin: auto;
    margin-bottom: 1rem;
    font-size: 12vw;
    white-space: nowrap;
  }
  /* in footer */
  .footerfont {
    font-size: 1rem;
    margin-right: 4vw;
    font-weight: 900;
  }
  .footercopy {
    flex-grow: 1;
    font-size: 1rem;
    color: #343434;
    margin-left: 4vw;
    margin-right: 4vw;
    font-weight: 900;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* in home */
  .homehead {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5vw;
    flex-direction: column;
  }
  .homefont {
    font-size: 8vw;
    margin: 7vw;
  }
  .hometag {
    font-size: 4vw;
    margin-left: 7vw;
    margin-bottom: 7vw;
    margin-top: -4vw;
  }
  /* in about */
  .tagline {
    text-align: center;
    color: white;
    font-size: 3rem;
  }
  .bio {
    color: white;
    font-size: 2rem;
  }
  .lightbutton {
    font-size: 1rem;
    font-weight: 900;
  }
  .profileimg {
    height: 30rem;
    width: 30rem;
    border-radius: 15rem;
  }
  /* in projects */
  .project {
    border-radius: 0.2rem;
    height: 16rem;
    width: 22rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
  }

  .project:hover,
  .project:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }

  .projectsmall:hover,
  .projectsmall:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }
  .projdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5vw;
  }
  .projhead {
    font-size: 6vw;
    margin-left: 10vw;
    margin-top: 10vw;
    margin-bottom: 8vw;
  }
  /* in skills */
  .skillmain {
    font-size: 4rem;
  }
  .skillhead {
    margin-top: 8vw;
    font-size: 2rem;
  }
  .skillbio {
    color: white;
    font-size: 1.5rem;
    margin-top: -1.5vw;
    margin-bottom: 3vw;
  }
  .skilltitle {
    color: white;
    font-size: 0.8rem;
  }
  /* in contact */
  .contactcontainer {
    width: 58%;
    padding: 3rem;
    margin: 2rem;
    border-radius: 0.5rem;
  }
  .contactheader {
    font-size: 10vw;
    white-space: nowrap;
    margin: auto;
    margin-bottom: 1rem;
  }
  /* in footer */
  .footerfont {
    font-size: 1rem;
    margin-right: 4vw;
    font-weight: 900;
  }
  .footercopy {
    flex-grow: 1;
    font-size: 1rem;
    color: #343434;
    margin-left: 4vw;
    margin-right: 4vw;
    font-weight: 900;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* in home */
  .homehead {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5vw;
    flex-direction: column;
  }
  .homefont {
    font-size: 7vw;
    margin: 6vw;
  }
  .hometag {
    font-size: 3.5vw;
    margin-left: 6vw;
    margin-bottom: 7vw;
    margin-top: -4vw;
  }
  /* in about */
  .tagline {
    text-align: center;
    color: white;
    font-size: 3rem;
  }
  .bio {
    color: white;
    font-size: 2rem;
  }
  .lightbutton {
    font-size: 1.3rem;
    font-weight: 900;
  }
  .profileimg {
    height: 30rem;
    width: 30rem;
    border-radius: 15rem;
  }
  /* in projects */
  .project {
    border-radius: 0.2rem;
    height: 16rem;
    width: 22rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
  }

  .project:hover,
  .project:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }

  .projectsmall:hover,
  .projectsmall:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }
  .projdiv {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5vw;
  }
  .projhead {
    font-size: 6vw;
    margin-left: 10vw;
    margin-top: 10vw;
    margin-bottom: 8vw;
  }
  /* in skills */
  .skillmain {
    font-size: 5rem;
  }
  .skillhead {
    margin-top: 8vw;
    font-size: 3rem;
  }
  .skillbio {
    color: white;
    font-size: 2rem;
    margin-top: -1.5vw;
    margin-bottom: 3vw;
  }
  .skilltitle {
    color: white;
    font-size: 1rem;
  }
  /* in contact */
  .contactcontainer {
    width: 52%;
    padding: 3rem;
    margin: 2rem;
    border-radius: 0.5rem;
  }
  .contactheader {
    margin: auto;
    margin-bottom: 1rem;
    font-size: 9vw;
    white-space: nowrap;
  }
  /* in footer */
  .footerfont {
    font-size: 1.2rem;
    margin-right: 4vw;
    font-weight: 900;
  }
  .footercopy {
    flex-grow: 1;
    font-size: 1.2rem;
    color: #343434;
    margin-left: 4vw;
    margin-right: 4vw;
    font-weight: 900;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* in home */
  .homehead {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5vw;
    flex-direction: column;
  }
  .homefont {
    font-size: 6vw;
    margin: 5vw;
  }
  .hometag {
    font-size: 3vw;
    margin-left: 5vw;
    margin-bottom: 7vw;
    margin-top: -4vw;
  }
  /* in about */
  .tagline {
    text-align: center;
    color: white;
    font-size: 3.5rem;
  }
  .bio {
    color: white;
    font-size: 2.5rem;
  }
  .lightbutton {
    font-size: 1.5rem;
    font-weight: 900;
  }
  .profileimg {
    height: 32rem;
    width: 32rem;
    border-radius: 16rem;
  }
  /* in projects */
  .project {
    border-radius: 0.2rem;
    height: 20rem;
    width: 26rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
  }

  .project:hover,
  .project:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }

  .projectsmall:hover,
  .projectsmall:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  }
  .projdiv {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5vw;
  }
  .projhead {
    font-size: 5vw;
    margin-left: 7vw;
    margin-top: 7vw;
    margin-bottom: 5vw;
  }
  /* in skills */
  .skillmain {
    font-size: 5rem;
  }
  .skillhead {
    margin-top: 8vw;
    font-size: 3rem;
  }
  .skillbio {
    color: white;
    font-size: 2rem;
    margin-top: -1.5vw;
    margin-bottom: 3vw;
  }
  .skilltitle {
    color: white;
    font-size: 1rem;
  }
  /* in contact */
  .contactcontainer {
    width: 45%;
    margin: 2vw;
    padding: 3vw;
    border-radius: 0.5rem;
  }
  .contactheader {
    margin: auto;
    margin-bottom: 1rem;
    font-size: 6vw;
    white-space: nowrap;
  }
  /* in footer */
  .footerfont {
    font-size: 1.3rem;
    margin-right: 4vw;
    font-weight: 900;
  }
  .footercopy {
    flex-grow: 1;
    font-size: 1.3rem;
    color: #343434;
    margin-left: 4vw;
    margin-right: 4vw;
    font-weight: 900;
  }
}
